%div.container.mx-auto.px-4
  .text-3xl.font-bold.mb-8.text-center.text-gray-900.dark:text-gray-100 Our Benefits
  %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-6
    - # Card 1: Natural Ingredients
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1000'}}
      = image_tag 'card_1.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Natural Ingredients
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}} Our herbal products are made from 100% natural ingredients, ensuring you get the best of nature’s bounty without any harmful chemicals.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} No synthetic additives
          %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Gentle on the skin
          %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Environmentally friendly

    - # Card 2: Health Benefits
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1400'}}
      = image_tag 'card_2.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Health Benefits
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1600", aos_offset: '220'}} Herbal products are known for their numerous health benefits. They can help improve your overall well-being and provide relief from various ailments.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "1000", aos_offset: '220'}} Boosts immunity
          %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Enhances digestion
          %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Reduces stress and anxiety

    - # Card 3: Eco-Friendly
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-down", aos_duration: '1800'}}
      = image_tag 'eco_friendly.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Eco-Friendly
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Our commitment to sustainability means our herbal products are eco-friendly, from production to packaging.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Biodegradable packaging
          %li{data: {aos: "fade-right", aos_duration: "3000", aos_offset: '220'}} Sustainable farming practices
          %li{data: {aos: "fade-right", aos_duration: "3000", aos_offset: '220'}} Lower carbon footprint

    - # Card 4: No Side Effects
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-up", aos_duration: '500'}}
      = image_tag 'no_side_effect.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 No Side Effects
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "700", aos_offset: '220'}} Herbal products are generally safe and have minimal to no side effects compared to synthetic alternatives.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "1000", aos_offset: '220'}} Gentle on the body
          %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Safe for long-term use
          %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Suitable for all ages

    - # Card 5: Ancient Wisdom
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{data: {aos:"zoom-in-up", aos_duration: '800'}}
      = image_tag 'ancient_wisdom.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Ancient Wisdom
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}} Our herbal products are formulated using traditional knowledge passed down through generations, combined with modern science.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Time-tested remedies
          %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Holistic approach to health
          %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Trusted by cultures worldwide

    - # Card 6: Versatile Usage
    %div.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.overflow-hidden{ data: {aos:"zoom-in-up", aos_duration: '1200'}}
      = image_tag 'versatile_usage.jpeg', class: "w-full h-80 object-cover"
      %div.p-4
        %h3.text-xl.font-semibold.text-gray-900.dark:text-gray-100 Versatile Usage
        %p.mt-2.text-gray-600.dark:text-gray-300{data: {aos: "fade-right", aos_duration: "1200", aos_offset: '220'}} Herbal products can be used in various ways, from skincare and haircare to supplements and teas, catering to different needs and preferences.
        %ul.list-disc.pl-5.mt-2.text-gray-600.dark:text-gray-300
          %li{data: {aos: "fade-right", aos_duration: "1500", aos_offset: '220'}} Multi-functional
          %li{data: {aos: "fade-right", aos_duration: "2000", aos_offset: '220'}} Can be easily incorporated into daily routines
          %li{data: {aos: "fade-right", aos_duration: "2500", aos_offset: '220'}} Available in various forms
