%div.py-8.px-8
  %section.company-info
    %div
      %h2 Company Information

    %div
      %h3 Company Name
      %p Chandra herbals

    %div
      %h3 Email
      %p chandraherbals2024@gmail.com

    %div
      %h3 Location
      %p NOHAR, WARD NO 05, VILLAGE CHAK DEIDASPURA,Chak Deidaspura, Hanumangarh, Rajasthan PIN-335523

    %div
      %h3 Contact Number
      %p 9413538145

    %div
      %h3 Contact Person
      %p Ram kumar varma

  %section#contact.py-16.form-section
    .max-w-screen-xl.mx-auto.px-4.flex.flex-col.md:flex-row.items-center
      .mb-8.md:mb-0.text-center.md:text-left{:class => "md:w-1/2"}
        %h2.text-2xl.font-bold.mb-4.text-white Have any questions?
        %h3.text-4xl.font-bold.mb-4.text-white Contact us.
        %p.text-lg.mb-4.text-gray-500 Want to understand more about Spirulina Products ?
        %p.text-lg.text-gray-500 Get in touch with us and one of our experts will reach out to you.
      %div{:class => "md:w-1/2"}
        = turbo_frame_tag "contact_form" do
          = form_with model: @contact do |f|
            %div
              = f.label :name, class: "text-lg text-white"  do 
                Name
                %span.required *
              = f.text_field :name, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            %div
              = f.label :email, class: "text-lg text-white" do
                Email
                %span.required *
              = f.email_field :email, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            %div
              = f.label :message, class: "text-lg text-white" do
                Message
                %span.required *
              = f.text_area :message, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            .text-center.md:text-left
              = f.submit "Send Message", class: "mt-4 inline-block bg-green-600 text-white px-8 py-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"