%section#home.bg-cover.bg-center{:style => "background-image: url(#{asset_path 'banner-1.jpeg'}); height: 100vh;"}
  .bg-black.bg-opacity-50.h-full.flex.items-center.justify-center
    .text-center.text-white
      %h1.text-4xl.md:text-6xl.font-bold Welcome to Chandra Herbals
      %p.mt-4.text-lg.md:text-xl Premium quality super food spirulina and moringa for a healthier life
      %a.mt-8.inline-block.bg-blue-700.hover:bg-blue-800.text-white.px-6.py-2.rounded{:href => "#products"} Explore Our Products

%section.py-16
  = render 'home/benifites'

%section#about-spirulina.py-16.bg-gray-100.dark:bg-gray-900
  .max-w-screen-xl.mx-auto.px-4.text-center.text-gray-900.dark:text-gray-100
    %h2.text-4xl.font-bold.mb-8 Our Best Products on the Market - Spirulina
    %p.text-lg.mb-8 Spirulina is a nutrient-rich blue-green algae that has been used for centuries due to its exceptional health benefits. Known for its vibrant color and high protein content, spirulina is a powerful superfood that supports overall wellness and vitality.
    %p.text-lg.mb-8 Our spirulina is cultivated in pristine conditions to ensure the highest quality. It is grown in controlled environments free from contaminants and pollutants, ensuring a pure and potent product. Each batch is carefully monitored to maintain its nutritional integrity, providing you with a reliable source of essential nutrients.
    %p.text-lg.mb-8 Spirulina is packed with proteins, vitamins, and minerals, making it an ideal supplement for those looking to boost their nutrient intake. It contains all essential amino acids, making it a complete protein source. In addition to protein, spirulina is rich in vitamins such as B1, B2, B3, B6, B9, and B12, as well as minerals like iron, magnesium, and potassium.
    %p.text-lg.mb-8 This superfood is also known for its powerful antioxidant properties. It contains a unique pigment called phycocyanin, which gives spirulina its blue-green color and has been shown to combat oxidative stress and inflammation in the body. Regular consumption of spirulina can help support immune function, increase energy levels, and promote healthy skin and hair.
    %p.text-lg.mb-8 At Chandra Herbals, we are committed to sustainable practices. Our spirulina is produced using eco-friendly methods that minimize our environmental footprint. We believe in the power of natural solutions to promote health and well-being, and we strive to deliver products that reflect this commitment.
    = image_tag 'spirulina_2.avif', class: "mx-auto rounded-lg shadow-lg"

%section#products.py-16
  .max-w-screen-xl.mx-auto.px-4.text-center
    %h2.text-4xl.font-bold.mb-8 Our Products
    .grid.grid-cols-1.md:grid-cols-3.gap-12
      .bg-white.dark:bg-gray-800.rounded-lg.shadow-lg.overflow-hidden
        = image_tag('spirulina_table_pic_1.png', class: 'w-full', style: 'display: block;margin-left: auto;margin-right: auto;width: 50%;', size: '200x200')
        .p-6
          %h3.text-2xl.font-bold.text-gray-900.dark:text-gray-100 Spirulina Super Tablet
          %p.mt-4.text-gray-600.dark:text-gray-300 Pure Spirulina Tablets Without Binding Agent Herbal Food Supplement For Healthy Lifestyle.
      .bg-white.dark:bg-gray-800.rounded-lg.shadow-lg.overflow-hidden
        = image_tag('moringa_tablet.png', class: 'w-full', style: 'display: block;margin-left: auto;margin-right: auto;width: 50%;', size: '200x200')
        .p-6
          %h3.text-2xl.font-bold.text-gray-900.dark:text-gray-100 Moringa Super Tablet
          %p.mt-4.text-gray-600.dark:text-gray-300 Moringa is an Indian superfood, which is effective in hair fall, anemia, arthritis, thyroid, weak immunity, asthma, diabetes and obesity.
      .bg-white.dark:bg-gray-800.rounded-lg.shadow-lg.overflow-hidden
        = image_tag('six_m_mineral_syrup_100_ml.png', style: 'display: block;margin-left: auto;margin-right: auto;', size: '160x200')
        .p-6
          %h3.text-2xl.font-bold.text-gray-900.dark:text-gray-100 Mineral Multivitamin Syrup
          %p.mt-4.text-gray-600.dark:text-gray-300 Six-m Is A Natural Mineral Syrup Prepared From Moringa Extract, Which Helps In Balancing Heart Rate, Reducing Knee Pain, Swelling Muscle Repairing, Strengthening Bones.

%section#benefits.py-16.bg-gray-100.dark:bg-gray-900
  .max-w-screen-xl.mx-auto.px-4.text-center.text-gray-900.dark:text-gray-100
    %h2.text-4xl.font-bold.mb-8 Benefits of Spirulina
    .grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-8
      .flex.items-start.space-x-4
        %svg.h-8.w-8.text-blue-600{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span.text-left.text-lg Rich in nutrients and antioxidants
      .flex.items-start.space-x-4
        %svg.h-8.w-8.text-blue-600{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span.text-left.text-lg Boosts the immune system
      .flex.items-start.space-x-4
        %svg.h-8.w-8.text-blue-600{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span.text-left.text-lg Supports cardiovascular health
      .flex.items-start.space-x-4
        %svg.h-8.w-8.text-blue-600{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span.text-left.text-lg Enhances energy and stamina
      .flex.items-start.space-x-4
        %svg.h-8.w-8.text-blue-600{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span.text-left.text-lg Promotes detoxification

%section#faq.py-16.bg-green-100.dark:bg-green-900
  .max-w-screen-xl.mx-auto.px-4.text-gray-900.dark:text-gray-100
    %h2.text-4xl.font-bold.mb-8.text-center Frequently Asked Questions
    .space-y-4
      .bg-green-600.dark:bg-green-700.p-6.rounded-lg.shadow-md
        %h3.text-xl.font-semibold.mb-2 What is Spirulina?
        %p Spirulina is a type of blue-green algae that is rich in protein, vitamins, minerals, and antioxidants. It is often used as a dietary supplement to support overall health and wellness.
      .bg-green-600.dark:bg-green-700.p-6.rounded-lg.shadow-md
        %h3.text-xl.font-semibold.mb-2 How can Spirulina benefit my health?
        %p Spirulina has numerous health benefits including boosting the immune system, improving digestion, reducing inflammation, and providing essential nutrients for better energy and vitality.
      .bg-green-600.dark:bg-green-700.p-6.rounded-lg.shadow-md
        %h3.text-xl.font-semibold.mb-2 Is Spirulina safe to consume?
        %p Yes, Spirulina is generally safe for most people when consumed in appropriate amounts. However, it is always best to consult with a healthcare provider before adding any new supplement to your diet.
      .bg-green-600.dark:bg-green-700.p-6.rounded-lg.shadow-md
        %h3.text-xl.font-semibold.mb-2 How should I take Spirulina?
        %p Spirulina can be taken in various forms including powder, tablets, and capsules. The recommended dosage varies depending on the form and your specific health needs, so it's important to follow the instructions on the product label or consult with a healthcare provider.

%section#testimonials.py-16
  .max-w-screen-xl.mx-auto.px-4.text-center.text-gray-900.dark:text-gray-100
    %h2.text-3xl.font-bold.mb-8 Customer Testimonials
    .grid.grid-cols-1.md:grid-cols-2.gap-8
      .bg-white.dark:bg-gray-800.p-4.rounded.shadow
        %p "I've been using spirulina from Chandra Herbals for a few months now, and I feel more energetic and healthier than ever!"
        %p.mt-4.text-right - Avijit Gupta
      .bg-white.dark:bg-gray-800.p-4.rounded.shadow
        %p "The quality of the spirulina powder is outstanding. It's a great addition to my daily smoothie."
        %p.mt-4.text-right - Ankush Agarwal

%section#about-us.py-16.bg-gray-100.dark:bg-gray-900
  .max-w-screen-xl.mx-auto.px-4.text-center.text-gray-900.dark:text-gray-100
    %h2.text-3xl.font-bold.mb-8 About Us
    %p Chandra Herbals is dedicated to providing the highest quality spirulina products. Our mission is to promote health and wellness through natural, sustainable solutions. Our spirulina is cultivated using environmentally friendly methods, ensuring that our products are both healthy for you and kind to the planet.

%section#contact.py-16.form-section.bg-white.dark:bg-gray-900
  .max-w-screen-xl.mx-auto.px-4.flex.flex-col.md:flex-row.items-center.text-gray-900.dark:text-gray-100
    .mb-8.md:mb-0.text-center.md:text-left{class: "md:w-1/2"}
      %h2.text-2xl.font-bold.mb-4.text-gray-900.text-white Have any questions?
      %h3.text-4xl.font-bold.mb-4.text-gray-900.text-white Contact us.
      %p.text-lg.mb-4.text-gray-500.dark:text-gray-300 Want to understand more about Spirulina Products?
      %p.text-lg.text-gray-500.dark:text-gray-300 Get in touch with us and one of our experts will reach out to you.
    %div{class: "md:w-1/2"}
      = turbo_frame_tag "contact_form" do
        = form_with model: @contact do |f|
          %div
            = f.label :name, class: "text-lg text-gray-900.dark:text-white" do 
              Name
              %span.required *
            = f.text_field :name, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          %div
            = f.label :email, class: "text-lg text-gray-900.dark:text-white" do
              Email
              %span.required *
            = f.email_field :email, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          %div
            = f.label :message, class: "text-lg text-gray-900.dark:text-white" do
              Message
              %span.required *
            = f.text_area :message, required: true, class: "mt-1 p-3 block w-full rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          .text-center.md:text-left
            = f.submit "Send Message", class: "mt-4 inline-block bg-green-600 hover:bg-green-700 text-white px-8 py-3 rounded-full shadow-lg focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
