= turbo_frame_tag "question-#{question.id}" do
  %div.bg-white.border-b.hover:bg-gray-50.flex.items-center.text-center
    %div.w-4.p-4.flex-1= question.id
    %div.px-6.py-4.text-gray-900.whitespace-nowrap.flex-1= question&.product&.name
    %div.px-6.py-4.flex-1= question.content
    %div.px-6.py-4.flex-1= question.reply&.content
    %div.px-6.py-4.flex-1
      .flex.flex-row{style: "margin-left: 40%;"}
        = link_to edit_admin_question_path(question), data: {turbo: true} do
          = heroicon 'pencil-square', variant: :solid, options: {class: "w-6 h-6 inline-block text-green-500 hover:text-green-700"}
        = button_to  admin_question_path(question), method: :delete, data: {confirm: "Are you sure?"}, class: "ml-4" do
          = heroicon 'trash', variant: :solid, options: {class: "w-6 h-6 inline-block text-red-500 hover:text-red-800"}