= turbo_frame_tag "global_modal_tag" do
  = turbo_frame_tag "sign_up_form" do
    %div{"data-controller" => "global-modal"}
      .overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.md:inset-0.max-h-full{"aria-hidden" => "true", tabindex: "-1" , style:"background-color: rgba(0,0,0,0.6)", "data-global-modal-target" => "output"}
        .absolute.p-4.w-full.max-w-md.max-h-full{style: "top: 50%; left: 50%; transform: translate(-50%, -50%);"}
          / Modal content
          .relative.bg-white.rounded-lg.shadow
            / Modal header
            .flex.items-center.justify-between.p-4.md:p-5.border-b.rounded-t
              %h3.text-xl.font-semibold.text-gray-900
                Login to Chandra Herbal
              %button.text-gray-400.bg-transparent.hover:bg-gray-200.hover:text-gray-900.rounded-lg.text-sm.w-8.h-8.ms-auto.inline-flex.justify-center.items-center.end-2.5{data: {action: "global-modal#close"}, type: "button"}
                %svg.w-3.h-3{"aria-hidden" => "true", fill: "none", viewbox: "0 0 14 14", xmlns: "http://www.w3.org/2000/svg"}
                  %path{d: "m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
                %span.sr-only Close modal
            / Modal body
            .p-4.md:p-5
              .space-y-4
                = form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f|
                  %div
                    = f.label :email, class: "block mb-2 text-sm font-medium text-gray-900"
                    = f.email_field :email,autofocus: true,placeholder: "example@gmail.com",required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                  %div
                    = f.label :password, class: "block mb-2 text-sm font-medium text-gray-900"
                    = f.password_field :password,required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                  .flex.justify-between.py-2.5
                    .flex.items-start
                      -# - if devise_mapping.rememberable?
                      -#   .flex.items-center.h-5
                      -#     = f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300", required: "", type: "checkbox", value: ""
                      -#   %label.ms-2.text-sm.font-medium.text-gray-900{for: "remember"} Remember me
                    %a.text-sm.text-green-500.hover:underline{href: "#"} Lost Password?
                  %button.w-full.text-white.bg-green-500.hover:bg-green-800.focus:ring-4.focus:outline-none.focus:ring-green-300.font-medium.rounded-lg.text-sm.px-5.text-center{class: "py-2.5", type: "submit"} Login to your account
                .text-sm.font-medium.text-gray-500
                  Not registered?
                  -# %a.text-green-500.hover:underline{href: "#"} Create account
                  = link_to "Create Account", new_registration_path(resource_name), data: { turbo_frame: 'sign_up_form' }, class: "text-green-500 hover:underline"