= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :order
    = f.text_field :order
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :payment_method
    = f.text_field :payment_method
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
