= form_for @address, url: create_order_address_addresses_path do |f|
  - if @address.errors.any?
    #error_explanation.p-4.m-4.border-2.border-red-400.rounded-lg
      %h2.text-red-500.text-lg.font-semibold= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul.p-4
        - @address.errors.full_messages.each do |message|
          %li= message

  .grid.grid-col-1.md:grid-cols-2
    %div.p-4.text-green-500.text-lg.capitilize Add a New address 
  .grid.grid-col-1.md:grid-cols-2.gap-4.p-4
    %div 
      = f.label :name, class: "block mb-2 text-sm font-medium text-gray-900" do
        Name
        %span.p-0{ class: "text-red-500" } *
      = f.text_field :name, autofocus: true, placeholder: "Name", required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
    %div 
      = f.label :contact_number, class: "block mb-2 text-sm font-medium text-gray-900" do
        Contact number
        %span.p-0{ class: "text-red-500" } *
      = f.text_field :contact_number, placeholder: "Phone number", required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
  .grid.grid-col-1.md:grid-cols-1.gap-4.p-4
    %div 
      = f.label :address_line_1, class: "block mb-2 text-sm font-medium text-gray-900"do
        Address Line 1
        %span.p-0{ class: "text-red-500" } *
      = f.text_field :address_line_1, placeholder: "Address line 1",required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
    %div 
      = f.label :city,"City/Town name",class: "block mb-2 text-sm font-medium text-gray-900"
      = f.text_field :city, autocomplete: "city", required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5",disabled: true
  .grid.grid-col-1.md:grid-cols-2.gap-4.p-4
    %div 
      = f.label :address_line_2,"District", class: "block mb-2 text-sm font-medium text-gray-900"
      = f.text_field :address_line_2, placeholder: "District", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5",:disabled => true
    %div 
      = f.label :state, class: "block mb-2 text-sm font-medium text-gray-900"
      = f.text_field :state, autocomplete: "state",required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5", :disabled => true
  .grid.grid-col-1.md:grid-cols-2.gap-4.p-4
    %div 
      = f.label :zip_code, class: "block mb-2 text-sm font-medium text-gray-900"do
        Pin Code
        %span.p-0{ class: "text-red-500" } *
      = f.number_field :zip_code, autocomplete: "zip_code", required: "", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
    %div 
      %label.block.mb-2.text-sm.font-medium.text-gray-900{:for => "countries"} 
        Select an option
        %span.p-0{ class: "text-red-500" } *
      = f.select :address_type, options_for_select(Address.address_types.collect{|k, v| [k.capitalize, k]}), {include_blank: "-------  Select address type  -------", required: true}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
      
  .grid.grid-col-1.p-4
    .flex.flex-row-reverse
      = link_to 'Cancel', cart_path(id: 'order_address'), class: "text-sm px-5 text-center py-2 text-blue bg-gray-100 hover:bg-gray-300 mx-4 rounded-lg"
      = f.submit "Save", class: "text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 text-center py-2"

:javascript
  $(document).ready(function() {
    const pinCodeField = $("#address_zip_code");
    if (pinCodeField.length) {
      pinCodeField.on("blur", function() {
        const pinCode = $(this).val();
        if (pinCode.length === 6) {
          $.ajax({
            url: "/addresses/postal_code_details",
            method: "GET",
            data: { pin_code: pinCode },
            success: function(data) {
              if (data) {
                $("#address_city").val(data.city);
                $("#address_address_line_2").val(data.district);
                $("#address_state").val(data.state);
              } else {
                alert("Postal code details not found.");
              }
            },
            error: function() {
              alert("Error fetching postal code details.");
            }
          });
        } else {
          alert("Please enter a valid 6-digit pin code.");
        }
      });
    }
  });
