= turbo_frame_tag "category-#{@category.id}" do
  = form_for [:admin, @category], as: @category  do |f|
    %div.bg-white.border-b.hover:bg-gray-50.flex.text-center.border.border-green-500
      %div.w-4.p-4.flex-1= @category.id
      %div.px-6.py-4.text-gray-900.whitespace-nowrap.flex-1
        -  if @category.errors.any?
          = f.text_field :name, class: "bg-gray-50 border border-gray-300 text-red-600 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ", required: true, autofocus: true
          %p.mt-2.text-sm.text-red-600.dark:text-red-500
            %span.font-medium Oh, snapp!
            = @category.errors.full_messages.join(",")
        - else
          = f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ", required: false, autofocus: true
          
      %div.px-6.py-4.flex-1
        = f.text_field :description, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 "
      %div.px-6.py-4.flex-1
        = f.select :parent_category_id, options_for_select(@parents.collect{|e| [e.name, e.id]}, @category.parent_category_id),{}, class: 'selectable focus:ring-green-500 focus:border-green-500'
      %div.px-6.py-4.flex-1
        = f.submit "Update", class: "text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        = link_to "cancel", "" , class: "text-sm ml-4 text-sm border border-gray-200  hover:bg-gray-300 rounded-xl py-2 px-6 text-gray-500"

