%h2.p-2.font-medium.text-lg Filters
#accordion-collapse1.mt-4{"data-accordion" => "collapse"}
  %h2#accordion-collapse-heading-1
    %button.flex.items-center.justify-between.w-full.p-5.font-medium.rtl:text-right.text-gray-500.border.border-b-0.border-gray-200.rounded-t-xl.bg-white.dark:border-gray-700.dark:text-gray-400.hover:bg-grey-50.dark:hover:bg-gray-800.gap-3{"aria-controls" => "accordion-collapse-body-1", "aria-expanded" => "true", "data-accordion-target" => "#accordion-collapse-body-1", :type => "button"}
      %span Category
      %svg.w-3.h-3.rotate-180.shrink-0{"aria-hidden" => "true", "data-accordion-icon" => "", :fill => "none", :viewbox => "0 0 10 6", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 5 5 1 1 5", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  #accordion-collapse-body-1.hidden{"aria-labelledby" => "accordion-collapse-heading-1"}
    .p-5.border.border-b-1.rounded-lg.rounded-t-none.border-gray-200.bg-white.dark:border-gray-700.dark:bg-gray-900
      - Category.all.each do |cat|
        .flex.items-center
          = check_box_tag 'category_id[]', cat.id, checked: params[:category_id]&.include?(cat.id.to_s), id: "category_#{cat.id}", class: "w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", data: { filter_target: "filterinput" }
          %label.ms-2.text-sm.text-gray-800.dark:text-gray-300{:for => "category_#{cat.id}"}= cat.name

      
#accordion-collapse2.mt-4{"data-accordion" => "collapse"}
  %h2#accordion-collapse-heading-2
    %button.flex.items-center.justify-between.w-full.p-5.font-medium.rtl:text-right.text-gray-500.border.border-b-0.border-gray-200.rounded-t-xl.bg-white.dark:border-gray-700.dark:text-gray-400.hover:bg-grey-50.dark:hover:bg-gray-800.gap-3{"aria-controls" => "accordion-collapse-body-2", "aria-expanded" => "true", "data-accordion-target" => "#accordion-collapse-body-2", :type => "button"}
      %span Price
      %svg.w-3.h-3.rotate-180.shrink-0{"aria-hidden" => "true", "data-accordion-icon" => "", :fill => "none", :viewbox => "0 0 10 6", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 5 5 1 1 5", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  #accordion-collapse-body-2.hidden{"aria-labelledby" => "accordion-collapse-heading-2"}
    .p-5.border.border-b-1.rounded-lg.rounded-t-none.border-gray-200.bg-white.dark:border-gray-700.dark:bg-gray-900
      .flex.items-center.mb-4
        %input#price-high-to-low.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:price] == 'desc', name: "price", type: "radio", value: "desc", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.font-medium.text-gray-900.dark:text-gray-300{:for => "price-high-to-low"} Price high to low
      .flex.items-center
        %input#price-low-to-high.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:price] == 'asc', name: "price", type: "radio", value: "asc", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.font-medium.text-gray-900.dark:text-gray-300{:for => "price-low-to-high"} Price low to high
      -# .flex.item-center
      %div
#accordion-collapse3.mt-4{"data-accordion" => "collapse"}
  %h2#accordion-collapse-heading-3
    %button.flex.items-center.justify-between.w-full.p-5.font-medium.rtl:text-right.text-gray-500.border.border-b-0.border-gray-200.rounded-t-xl.bg-white.dark:border-gray-700.dark:text-gray-400.hover:bg-grey-50.dark:hover:bg-gray-800.gap-3{"aria-controls" => "accordion-collapse-body-3", "aria-expanded" => "true", "data-accordion-target" => "#accordion-collapse-body-3", :type => "button"}
      %span Others
      %svg.w-3.h-3.rotate-180.shrink-0{"aria-hidden" => "true", "data-accordion-icon" => "", :fill => "none", :viewbox => "0 0 10 6", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 5 5 1 1 5", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  #accordion-collapse-body-3.hidden{"aria-labelledby" => "accordion-collapse-heading-3"}
    .p-5.border.border-b-1.rounded-lg.rounded-t-none.border-gray-200.bg-white.dark:border-gray-700.dark:bg-gray-900
      .flex.items-center
        = check_box_tag 'created_at', 'desc' , checked: params[:created_at].present?, id: "product_created_at", class: "w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", data: { filter_target: "filterinput" }
        %label.ms-2.text-sm.text-gray-800.dark:text-gray-300{:for => "product_created_at"} Newest First
      .flex.items-center
        = check_box_tag 'popular', 'asc' , checked: params[:popular].present?, id: "product_created_at", class: "w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", data: { filter_target: "filterinput" }
        %label.ms-2.text-sm.text-gray-800.dark:text-gray-300{:for => "product_created_at"} Popular Product
      %h2.my-4.font-medium.text-md By Ratings
      .flex.items-center
        %input#price-high-to-low.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:rating] == '5', name: "rating", type: "radio", value: "5", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.text-gray-900.dark:text-gray-300{:for => "price-high-to-low"} With rating 5 
      .flex.items-center
        %input#price-low-to-high.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:rating] == '4', name: "rating", type: "radio", value: "4", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.text-gray-900.dark:text-gray-300{:for => "price-low-to-high"} With rating 4 & above
      .flex.items-center
        %input#price-low-to-high.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:rating] == '3', name: "rating", type: "radio", value: "3", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.text-gray-900.dark:text-gray-300{:for => "price-low-to-high"} With rating 3 & above
      .flex.items-center
        %input#price-low-to-high.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:rating] == '2', name: "rating", type: "radio", value: "2", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.text-gray-900.dark:text-gray-300{:for => "price-low-to-high"} With rating 2 & above
      .flex.items-center
        %input#price-low-to-high.w-4.h-4.text-green-600.bg-gray-100.border-gray-300.focus:ring-green-500.dark:focus:ring-green-600.dark:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{checked: params[:rating] == '1', name: "rating", type: "radio", value: "1", data: { filter_target: "filterinput" }}
        %label.ms-2.text-sm.text-gray-900.dark:text-gray-300{:for => "price-low-to-high"} With rating 1 & above
      

