.bg-white.shadow-md.rounded-lg.p-4.flex.justify-between
  .flex.items-center
    - if product.product_images.attached?
      = image_tag product.product_images.first
    -# %img{src: product[:img], alt: product[:name], class: "w-24 h-24 rounded-md"}
    .ml-8.mr-12
      %h2.text-xl.font-semibold= product.name
      %p.text-gray-600.mt-1= product.description
      .text-sm.mt-2= truncate(strip_tags(product.specification.to_s), length: 170)
  .text-right.w-40
    %p.text-xl.font-semibold= product.price
    - if product.discount.present? and product.discount > 0
      %p.text-gray-500.line-through= product.original_price
      %p.text-green-500.font-semibold.mt-1= "#{product.discount}% OFF"
    %button{class: "btn bg-green-500 text-white p-2 rounded-md mt-4"} Add to Cart