%div.mb-4.border-b.border-gray-200.dark:border-gray-700
  %ul#default-styled-tab.flex.flex-wrap.-mb-px.text-sm.font-medium.text-center{"data-tabs-active-classes" => "text-green-500 hover:text-green-500 dark:hover:text-green-500 border-green-600 dark:border-green-500", "data-tabs-inactive-classes" => "dark:border-transparent text-gray-500 hover:text-green-300 dark:text-green-400 border-gray-100 hover:border-gray-300 dark:hover:border-gray-300 dark:hover:text-gray-300", "data-tabs-toggle" => "#default-styled-tab-content", role: "tablist"}
    %li.me-2{role: "presentation"}
      %button#review-styled-tab.inline-block.p-4.border-b-2.rounded-t-lg.hover:text-green-300.hover:border-gray-300{"aria-controls" => "review", "aria-selected" => "false", "data-tabs-target" => "#styled-review", role: "tab", type: "button"} Review
    %li.me-2{role: "presentation"}
      %button#questions-styled-tab.inline-block.p-4.border-b-2.rounded-t-lg.hover:text-green-300.hover:border-gray-300{"aria-controls" => "questions", "aria-selected" => "false", "data-tabs-target" => "#styled-questions", role: "tab", type: "button"} Questions

#default-styled-tab-content
  #styled-review.hidden.p-4.rounded-lg.bg-white.dark:bg-gray-800{"aria-labelledby" => "review-styled-tab", role: "tabpanel"}
    - @reviews = @product.reviews.order(created_at: :desc)
    - if @reviews.present?
      - @reviews.each do |review|
        %div.p-4
          .mt-2.text-gray-800.dark:text-gray-100.font-semibold
            .flex
              -# = review.rating 
              = star_rating(review.rating)
          %p.text-sm.mt-2.text-gray-700.dark:text-gray-300
            ="#{review.comment}"
          %p.mt-2.text-xs.font-bold.text-gray-400=review.user.full_name
          %div.text-xs.text-gray-400.font-light.mt-1 
            = heroicon 'check-circle',variant: :solid , options: {class: "w-4 h-4 inline-block text-gray-500 dark:text-gray-400"}
            Verified Buyer
        %hr 
    - else
      %p.text-gray-700.dark:text-gray-300 No review yet!
  #styled-questions.hidden.p-4.rounded-lg.bg-white.dark:bg-gray-800{"aria-labelledby" => "questions-styled-tab", role: "tabpanel"}
    - @questions = @product.questions.order(created_at: :desc)
    - if @questions.present?
      - @questions.each do |question|
        %div.p-4
          %p.text-sm.text-gray-700.dark:text-gray-300
            %b="Q:" 
            %span= question.content
          - if question.reply.present?
            %p.text-sm.text-gray-700.dark:text-gray-300
              A: 
              %span.font-light= question.reply&.content
            %p.mt-2.text-xs.font-bold.text-gray-400= question.reply&.user.full_name
            %div.text-xs.text-gray-400.font-light.mt-1 
              = heroicon 'check-circle',variant: :solid , options: {class: "w-4 h-4 inline-block text-gray-500 dark:text-gray-400"} 
              = repliyer_type(question.reply)
          %hr 
    - else
      %p.text-gray-700.dark:text-gray-300 No Question and Reply yet!
