%div.bg-gray-100.dark:bg-gray-900.text-gray-900.dark:text-gray-100{data: {controller: 'product'}}
  %div.container.mx-auto.px-4.py-8
    .breadcrumbs.mt-4
      = breadcrumbs.render(format: :inline, separator: ">")
    %div.flex.gap-8.pt-4.overflow-y-auto
      %div.overflow-y-auto{style: 'height: 72vh', class: "w-full lg:w-2/3"}
        .grid.grid-cols-1.overflow-y-auto
          = render 'image_gallery'
          %div.mt-8.p-4.bg-white.dark:bg-gray-800.rounded-lg
            %h3.text-xl.font-bold.mb-4.text-gray-900.dark:text-gray-100 Description
            %p.text-gray-700.dark:text-gray-400= @product.description
          %div.mt-8.p-4.bg-white.dark:bg-gray-800.rounded-lg
            %h3.text-xl.font-bold.mb-4.text-gray-900.dark:text-gray-100 Specification
            %p.text-gray-700.dark:text-gray-400= @product.specification
          %div.mt-8.p-4.bg-white.dark:bg-gray-800.rounded-lg
            %h3.text-xl.font-bold.mb-4.text-gray-900.dark:text-gray-100 Reviews
            .grid.grid-cols-12.py-4.mb-4
              .col-span-6.border-r.p-4
                .flex
                  %p.text-gray-700.dark:text-gray-400.text-3xl.font-bold.mr-4= @product.avarage_rating
                  = star_rating(@product.avarage_rating)
                %p.text-gray-500.dark:text-gray-400= "Based on #{@product.review_count} Reviews"
              .col-span-6.pl-4
                - [5, 4, 3, 2, 1].each do |key|
                  .flex.items-center.mt-4
                    %a.text-sm.font-medium.text-blue-600.dark:text-blue-400.hover:underline{:href => "#"} #{key} star
                    .h-5.mx-4.bg-gray-200.dark:bg-gray-700.rounded{:class => "w-2/4"}
                      .h-5.bg-yellow-300.rounded{:style => "width: #{@rating_percentage[key].to_i}%"}
                    %span.text-sm.font-medium.text-gray-500.dark:text-gray-400 #{@rating_percentage[key].to_i}%
            %div.flex.flex-row-reverse.gap-4 
              - if current_user.present? && @product.orders.pluck(:user_id).include?(current_user.id)
                = link_to 'Write a review', new_review_path(product_id: @product.id), data: {turbo_frame: "global_modal_tag"}, class: "text-sm border border-gray-200 dark:border-gray-600 bg-gray-100.dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-green-500 rounded-2xl py-2  px-6"
              = link_to 'Ask a question', new_question_path(product_id: @product.id),data: {turbo_frame: "global_modal_tag"}, class: "text-sm border border-gray-200 dark:border-gray-600 bg-gray-100.dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-green-500 rounded-2xl py-2 px-6"
            %div
              = render 'review_question'

      %div.overflow-y-hidden{class: "w-full lg:w-1/3"}
        .card.border.border-gray-200.dark:border-gray-700.bg-white.dark:bg-gray-800.rounded-lg.shadow-md.p-4
          %div.card-header.p-4.flex.items-center
            %div.flag
              = "#2 best seller"
              %span.flag-extension
            .text-gray-500.dark:text-gray-400.ml-4= "in #{@product.category.name} category"
          %div.card-body.p-4
            %h2.text-2xl.font-semibold.mb-4.text-gray-900.dark:text-gray-100= @product.name
            %div.flex.items-center.mt-8
              %span.text-yellow-400.text-sm
                - ratings = @product&.product_ratings
                = (1..5).map { |i| ratings >= i ? "★" : "☆" }.join(' ')
              %span.text-gray-600.dark:text-gray-400.text-sm
                = "#{ratings.to_f} (#{@product&.review_count} reviews)"
            - if @product.discount.present?
              %div.mt-8
                %span.bg-red-500.text-white.px-2.py-1.text-xs.font-bold.uppercase.rounded
                  Save #{@product.discount}%
            %div.mt-4
              %span.text-sm.text-gray-400.dark:text-gray-500 Price: 
              %span.text-3xl.font-bold.text-red-500
                = number_to_currency(@product.price, precision: 0, unit: "Rs. ")
              %span.text-m.text-gray-600.dark:text-gray-400.line-through.ml-2
                = number_to_currency(@product.original_price, precision: 0, unit: "Rs. ")
            %button.w-full.bg-green-500.text-white.px-4.py-2.rounded-lg.text-center.hover:bg-green-600.mb-4.mt-20{'data-action': "click->cart#addToCart", 'data-product-id': "#{@product.id}"} Add to Cart
