%p#notice= notice

%p
  %b Product:
  = @review.product
%p
  %b User:
  = @review.user
%p
  %b Rating:
  = @review.rating
%p
  %b Comment:
  = @review.comment

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
