%hr/
.text-center.bg-white
  .max-w-screen-xl.mx-auto
    .flex.flex-row.justify-center.p-2
      = active_link_to "Privacy Policy", privacy_policy_home_index_path, active: [['home'], ['privacy_policy']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2   hover:text-blue-700 border-r-2 '
      = active_link_to "Terms & Conditions ", terms_conditions_home_index_path, active: [['home'], ['terms_conditions']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2  hover:text-blue-700 border-r-2 '
      = active_link_to "Shipping Policy", shipping_policy_home_index_path, active: [['home'], ['shipping_policy']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2  hover:text-blue-700 border-r-2'
      = active_link_to "Contact us", contacts_home_index_path, active: [['home'], ['contacts']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2  hover:text-blue-700 border-r-2'
      -# = active_link_to "Return Policy", return_policy_home_index_path, active: [['home'], ['return_policy']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2  hover:text-blue-700'
      = active_link_to "Cancellation & Refund Policy", cancellation_policy_home_index_path, active: [['home'], ['cancellation_policy']], wrap_tag: :li, class_active: 'public-nav-active', wrap_class: 'block px-2  hover:text-blue-700 '



%footer.bg-sky-400.text-center.text-white
  .max-w-screen-xl.mx-auto.px-4
    %p © 2024 Chandra Herbals. All rights reserved.