!!!
%html{lang: "en"}
  %head
    %title Chandra Herbals
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: "theme-color", content: "#FFF"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    %main
      = render 'layouts/admin_top_nav_bar'
      = render 'layouts/admin_side_bar'
      .p-4.sm:ml-64
        .mt-14
        .breadcrumbs
          = breadcrumbs.render(format: :inline, separator: ">")
        = yield
        = tag.div data: { controller: "turbo-modal" }, class: "", id: 'modal' do
          = turbo_frame_tag "modal"

