!!!
%html{lang: "en"}
  %head
    %title Chandra Herbals
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: "theme-color", content: "#FFF"}
    %meta{content: "false", name: "turbo-prefetch"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    = render 'layouts/admin_top_nav_bar'
    = render 'layouts/admin_side_bar'
    %main.bg-gray-100.min-h-screen.max-h-fit
      .p-4.ml-16
        .mt-14
        .breadcrumbs
          = breadcrumbs.render(format: :inline, separator: ">")
        = turbo_frame_tag "admin_modal"
        = yield
        #flash.flash.hidden{"data-controller": 'toast', "data-toast-target": 'toast'}
          = render 'layouts/flash_message'


