!!!
%html{lang: "en"}
  %head
    %title Chandra Herbals
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: "theme-color", content: "#FFF"}
    %meta{content: "false", name: "turbo-prefetch"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body(data-controller="cart root")
    %div{ data: { controller: "mobile-check" } }
    = render 'layouts/top'
    %main.bg-gray-100.min-h-screen.max-h-fit{"data-root-target": "user", "data-external-id": current_user&.external_user_id }
      .mt-14
        -# .breadcrumbs
        -#   = breadcrumbs.render(format: :inline, separator: ">")
        = turbo_frame_tag "global_modal_tag"
        = yield 
        #flash.flash.hidden{"data-controller": 'toast', "data-toast-target": 'toast'}
          = render 'layouts/flash_message'
    = render 'layouts/footer'
      
