!!!
%html{lang: "en"}
  %head
    %title Chandra Herbals
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: "theme-color", content: "#FFF"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body(data-controller="cart root")
    = render 'layouts/top'
    %main.bg-gray-100
      .mt-14
        = turbo_frame_tag "log_in_form"
        = yield 
        #flash.flash.hidden{"data-controller": 'toast', "data-toast-target": 'toast'}
          = render 'layouts/flash_message'
        = render 'layouts/footer'
      
