!!!
%html{lang: "en"}
  %head
    %title Chandra Herbals
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: "theme-color", content: "#FFF"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body(data-controller="cart")
    = render 'layouts/top'
    %main
      = turbo_frame_tag "log_in_form"
      = yield 
